.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

* {
  background-color: #000;
  color: #ffffff;
}
input {
  padding: 5px;
  background-color: aliceblue;
  color: #000;
  margin: 5px;
}
.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 150px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  width: 250px;
  height: 300px;
  object-fit: contain;
}
